*{
    margin: 0px;
    padding: 0px;
}
section
{
    background: black;
    min-height: 100vh;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 50%;
opacity: 0;
}
.img{
    clip-path: circle(50%);
}
h1{
    color:whitesmoke;
}

.animation--scale {
    animation-name: scale;
    animation-duration: 3s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes scale {
    0% {
        transform: scale3d(1);
    }
    25% {
        transform: scale3d(0.5);
    }
    75% {
        transform: scale3d(1.5);
    }
    100% {
        transform: scale3d(1);
    }
}