*{
    margin: 0px;
    padding: 0px;
}
section
{
    background: black;
    min-height: 100vh;
}
.img{
    display: flex;
    justify-content: center;
    align-items: center;
}
#img{
    width: 60%;
opacity: 0;
}
h1{
    color:whitesmoke;
}